# Node modules
node_modules/
# Logs
logs/**
*.log
# Build output
dist/
# Vite cache
.vite/
# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# IDE
.vscode/